{
  "extends": ["eslint-config-poetez", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "callback-return": "off",
    "global-require": "off",
    "func-names": "off",
    "no-bitwise": "off",
    "no-extra-parens": "off",
    "no-invalid-this": "off",
    "prefer-arrow-callback": "off"
  }
}
