{
  "extends": [
    "eslint-config-poetez/typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "rules": {
    "@typescript-eslint/unbound-method": "off",
    "class-methods-use-this": "off",
    "func-names": "off",
    "max-nested-callbacks": "off",
    "max-classes-per-file": "off",
    "no-invalid-this": "off",
    "no-unused-expressions": "off"
  }
}
